*.diff
*.err
*.log
*.zip
*.sass-cache
*.sql
.env.local
._*
.cache
.DS_Store
.idea
.project
.settings
.tmproj
.vscode
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db
docker-compose.override.yml

node_modules
dist
vendor

web/.htaccess_lscache*
web/auth.json

database/*
!database/wordpress.sql

web/wp
web/.htaccess
web/wp-config.php

web/wp-content/uploads/*
!web/wp-content/uploads/2024

web/wp-content/plugins/*
!web/wp-content/plugins/.gitkeep

web/wp-content/languages/*
!web/wp-content/languages/.gitkeep

web/wp-content/cache
advanced-cache.php
