.Article {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.Article-link {
  border-radius: var(--border-radius);
  inset: 0;
  position: absolute;
  z-index: 2;
}

.Article-content {
  border-bottom: var(--border-width) solid var(--surface-0-border);
  flex: 1;
  margin-top: var(--space);
}

.Article-meta {
  margin: 0 0 var(--space-2xs) 0;
}

.Article-heading {
  --textTruncateClamp: 3;
  margin-bottom: var(--space-xs);
}

.Article-meta {
  color: var(--text-light);
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}
