.Section {
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--section-space);
  position: relative;
  z-index: 9;

  &:last-child {
    padding-bottom: var(--section-space);
  }

  &:has(:not(.Section-content)) {
    .Section-heading {
      margin-bottom: var(--space-m);
    }
  }
}
