@font-face {
  font-display: swap;
  font-family: 'Font Family';
  font-style: normal;
  font-weight: 100;
  src:
    url('/fonts/font-file.woff2') format('woff2'),
    url('/fonts/font-file.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Font Family';
  font-style: normal;
  font-weight: 400;
  src:
    url('/fonts/font-file.woff2') format('woff2'),
    url('/fonts/font-file.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Font Family';
  font-style: normal;
  font-weight: 500;
  src:
    url('/fonts/font-file.woff2') format('woff2'),
    url('/fonts/font-file.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Font Family';
  font-style: normal;
  font-weight: 700;
  src:
    url('/fonts/font-file.woff2') format('woff2'),
    url('/fonts/font-file.woff') format('woff');
}
