@use '../../mixins' as *;

@include theme('light', $root: true) {
  /* ======
   * Primitive tokens
   * ====== */

  --color-900-hsl: 0 0% 0%;
  --color-900: hsl(var(--color-900-hsl));
  --color-800: hsl(0 0% 10%);
  --color-700: hsl(0 0% 25%);
  --color-600: hsl(0 0% 40%);
  --color-500: hsl(0 0% 60%);
  --color-400: hsl(0 0% 75%);
  --color-300: hsl(0 0% 87%);
  --color-200: hsl(0 0% 93%);
  --color-100: hsl(0 0% 96%);
  --color-50-hsl: 0 0% 100%;
  --color-50: hsl(var(--color-50-hsl));

  --primary-700: hsl(240 100% 60%);
  --primary-600: hsl(240 100% 65%);
  --primary-500: hsl(240 100% 75%);
  --primary-400: hsl(240 100% 80%);
  --primary-300: hsl(240 100% 85%);
  --primary-200: hsl(240 100% 90%);
  --primary-100: hsl(240 100% 95%);
  --primary-50: hsl(240 100% 98%);

  /* ======
   * Semantic tokens
   * ====== */

  --text-strong: var(--color-800);
  --text-neutral: var(--color-700);
  --text-light: var(--color-600);

  --heading: var(--text-strong);
  --text: var(--text-neutral);

  --link: var(--primary);
  --link-hover: var(--text-strong);

  --primary: var(--primary-600);
  --primary-hover: var(--primary-700);
  --primary-foreground: hsl(240 0% 100%);

  --surface-0: var(--color-50);
  --surface-0-pop: var(--color-100);
  --surface-0-hover: var(--primary-50);
  --surface-0-border: var(--color-300);
  --surface-0-border-hover: var(--primary-200);
  --surface-0-border-translucent: hsl(var(--color-900-hsl) / 0.1);

  /* ======
   * Other tokens
   * ====== */

  --scrollbar-thumb: hsl(var(--color-900-hsl) / 0.15);

  /* ======
   * Base
   * ====== */

  color: var(--text);
  color-scheme: light;
}
